$palette: (
		sec-color:#1B323D,
		main-color: rgb(50, 108, 133),
		//third-color: #3D1B32,
		third-color: rgb(69, 65, 94),
		fg-light:			rgba(255,255,255,0.35),
    );
    
$size: (
		border-radius:		0.25em,
		border-width:		1px,
		element-height:		2.75em,
		element-margin:		2em,
		sidebar-width:		21vw,
		sidebar-height:		3.5em,	// when <=large is active
		inner-width:		79vw
	);

$mq: (
    break-small: 320px,
    break-medium:768px,
	break-large: 1200px,
)